In [4]:
# names.basics -  names
# title.akas - main
# title.basics - secondary
# title.crew - directors
# title.episode - tv_series
# title.principals - crew
# title.ratings - ratings

# https://github.com/ecbenezra/recommender-system/blob/master/dataset-compiling-scraping.ipynb

In [2]:
import pandas as pd
import csv

In [2]:
with open('./data/main.tsv', 'r') as f, open('./data/new/main_new.csv', 'w') as f2:
    reader = csv.reader(f, delimiter='\t')
    writer = csv.writer(f2)
    writer.writerow(next(reader))
    for row in reader:
         if (row[4] == 'hi' or row[4] == 'en'):
            writer.writerow(row)

In [3]:
with open('./data/secondary.tsv', 'r') as f, open('./data/new/sec_new.csv', 'w') as f2:
    reader = csv.reader(f, delimiter='\t')sec_
    writer = csv.writer(f2)
    writer.writerow(next(reader))
    for row in reader:
         if (row[1] == 'movie'):
            writer.writerow(row)

In [3]:
main = pd.read_csv('./data/new/main_new.csv')
sec = pd.read_csv('./data/new/sec_new.csv')

/home/esh/.local/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3169: DtypeWarning: Columns (7) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [4]:
final=pd.merge(main,sec,how='inner',
               left_on=['titleId'],
               right_on=['tconst'])

In [4]:
final

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000838,4,The Cultivation of the Cacao Tree,XWW,en,\N,literal English title,0,tt0000838,movie,A Cultura do Cacau,A Cultura do Cacau,0,1909,\N,\N,\N
1,tt0000941,2,Love Crazy,XWW,en,\N,informal literal title,0,tt0000941,movie,Locura de amor,Locura de amor,0,1909,\N,\N,Drama
2,tt0001051,3,Magical Dream,XWW,en,\N,literal English title,0,tt0001051,movie,El sueño milagroso,El sueño milagroso,0,1909,\N,\N,\N
3,tt0001122,4,The Red Inn,XWW,en,\N,\N,0,tt0001122,movie,The Red Inn,L'auberge rouge,0,1910,\N,\N,\N
4,tt0001175,2,Camille,XWW,en,\N,\N,0,tt0001175,movie,Camille,La dame aux camélias,0,1912,\N,\N,"Drama,Romance"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
184532,tt9916058,1,"Cali: Yesterday, Today, and Tomorrow",XWW,en,\N,informal literal English title,0,tt9916058,movie,"Cali: ayer, hoy y mañana","Cali: ayer, hoy y mañana",0,1995,\N,250,Documentary
184533,tt9916170,2,The Rehearsal,XWW,en,imdbDisplay,\N,0,tt9916170,movie,The Rehearsal,O Ensaio,0,2019,\N,51,Drama
184534,tt9916362,11,Coven,CA,en,imdbDisplay,\N,0,tt9916362,movie,Coven,Akelarre,0,2020,\N,92,"Drama,History"
184535,tt9916362,6,Coven of Sisters,XWW,en,alternative,\N,0,tt9916362,movie,Coven,Akelarre,0,2020,\N,92,"Drama,History"
184536,tt9916428,1,The Secret of China,XWW,en,imdbDisplay,\N,0,tt9916428,movie,The Secret of China,Hong xing zhao yao Zhong guo,0,2019,\N,\N,"Adventure,History,War"

In [5]:
directors = pd.read_csv('./data/directors.tsv', sep='\t')

In [6]:
final=pd.merge(final,directors,how='left',
               left_on=['titleId'],
               right_on=['tconst'])

In [8]:
final

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle,tconst_x,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,tconst_y,directors,writers
0,tt0000838,4,The Cultivation of the Cacao Tree,XWW,en,\N,literal English title,0,tt0000838,movie,A Cultura do Cacau,A Cultura do Cacau,0,1909,\N,\N,\N,tt0000838,nm0017074,\N
1,tt0000941,2,Love Crazy,XWW,en,\N,informal literal title,0,tt0000941,movie,Locura de amor,Locura de amor,0,1909,\N,\N,Drama,tt0000941,"nm0550220,nm0063413","nm0063413,nm0550220,nm0848502"
2,tt0001051,3,Magical Dream,XWW,en,\N,literal English title,0,tt0001051,movie,El sueño milagroso,El sueño milagroso,0,1909,\N,\N,\N,tt0001051,"nm0063413,nm0550220","nm0063413,nm0550220"
3,tt0001122,4,The Red Inn,XWW,en,\N,\N,0,tt0001122,movie,The Red Inn,L'auberge rouge,0,1910,\N,\N,\N,tt0001122,nm0605942,"nm0304098,nm0051304"
4,tt0001175,2,Camille,XWW,en,\N,\N,0,tt0001175,movie,Camille,La dame aux camélias,0,1912,\N,\N,"Drama,Romance",tt0001175,"nm0580197,nm0130633,nm0693516","nm0241414,nm0693516"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
184532,tt9916058,1,"Cali: Yesterday, Today, and Tomorrow",XWW,en,\N,informal literal English title,0,tt9916058,movie,"Cali: ayer, hoy y mañana","Cali: ayer, hoy y mañana",0,1995,\N,250,Documentary,tt9916058,nm0652213,nm0652213
184533,tt9916170,2,The Rehearsal,XWW,en,imdbDisplay,\N,0,tt9916170,movie,The Rehearsal,O Ensaio,0,2019,\N,51,Drama,tt9916170,nm5412267,"nm5412267,nm6743460,nm3245789"
184534,tt9916362,11,Coven,CA,en,imdbDisplay,\N,0,tt9916362,movie,Coven,Akelarre,0,2020,\N,92,"Drama,History",tt9916362,nm1893148,"nm1893148,nm3471432"
184535,tt9916362,6,Coven of Sisters,XWW,en,alternative,\N,0,tt9916362,movie,Coven,Akelarre,0,2020,\N,92,"Drama,History",tt9916362,nm1893148,"nm1893148,nm3471432"
184536,tt9916428,1,The Secret of China,XWW,en,imdbDisplay,\N,0,tt9916428,movie,The Secret of China,Hong xing zhao yao Zhong guo,0,2019,\N,\N,"Adventure,History,War",tt9916428,nm0910951,\N

In [7]:
ratings = pd.read_csv('./data/rating.tsv', sep='\t')
final=pd.merge(final,ratings,how='left',
               left_on=['titleId'],
               right_on=['tconst'])

In [19]:
chunksize = 100000

list_of_dataframes = []

for df in pd.read_csv('./data/crew.tsv', sep='\t', chunksize=chunksize):
    df1 = df[(df['category'] == 'actor') | (df['category'] == 'actress')]
    list_of_dataframes.append(df1)

crew = pd.concat(list_of_dataframes)

In [20]:
actor = crew.groupby('tconst')['nconst'].apply(list)

In [21]:
actor

tconst
tt0000005                             [nm0443482, nm0653042]
tt0000007                             [nm0179163, nm0183947]
tt0000008                                        [nm0653028]
tt0000009                  [nm0063086, nm0183823, nm1309758]
tt0000011                                        [nm3692297]
                                  ...
tt9916848       [nm5519557, nm8825009, nm5262613, nm8690065]
tt9916850       [nm5519557, nm8825009, nm5262613, nm8690065]
tt9916852       [nm5519557, nm8825009, nm5262613, nm8690065]
tt9916856    [nm3394271, nm10538650, nm10538646, nm10538647]
tt9916880      [nm1483166, nm0254176, nm0286175, nm10535738]
Name: nconst, Length: 4642554, dtype: object

In [1]:
actor.to_csv("./data/new/actor_new.csv")

NameError: name 'actor' is not defined

In [9]:
actor_new = pd.read_csv('./data/new/actor_new.csv')
final=pd.merge(final,actor_new,how='left',
               left_on=['titleId'],
               right_on=['tconst'])

In [10]:
df=final[['titleId', 'title','language','isAdult','genres','directors','writers','nconst','averageRating','numVotes']]

In [11]:
df

,titleId,title,language,isAdult,genres,directors,writers,nconst,averageRating,numVotes
0,tt0000838,The Cultivation of the Cacao Tree,en,0,\N,nm0017074,\N,NaN,NaN,NaN
1,tt0000941,Love Crazy,en,0,Drama,"nm0550220,nm0063413","nm0063413,nm0550220,nm0848502","['nm0034453', 'nm0140054', 'nm0243918', 'nm029...",4.8,23.0
2,tt0001051,Magical Dream,en,0,\N,"nm0063413,nm0550220","nm0063413,nm0550220",NaN,NaN,NaN
3,tt0001122,The Red Inn,en,0,\N,nm0605942,"nm0304098,nm0051304","['nm0154988', 'nm0167461', 'nm0756543', 'nm094...",5.3,18.0
4,tt0001175,Camille,en,0,"Drama,Romance","nm0580197,nm0130633,nm0693516","nm0241414,nm0693516","['nm0076800', 'nm0854414', 'nm0135053', 'nm036...",5.8,35.0
...,...,...,...,...,...,...,...,...,...,...
184532,tt9916058,"Cali: Yesterday, Today, and Tomorrow",en,0,Documentary,nm0652213,nm0652213,NaN,NaN,NaN
184533,tt9916170,The Rehearsal,en,0,Drama,nm5412267,"nm5412267,nm6743460,nm3245789","['nm0406305', 'nm8370368', 'nm8742390', 'nm057...",7.2,5.0
184534,tt9916362,Coven,en,0,"Drama,History",nm1893148,"nm1893148,nm3471432","['nm3766704', 'nm0107165', 'nm0266723', 'nm106...",6.4,3899.0
184535,tt9916362,Coven of Sisters,en,0,"Drama,History",nm1893148,"nm1893148,nm3471432","['nm3766704', 'nm0107165', 'nm0266723', 'nm106...",6.4,3899.0
184536,tt9916428,The Secret of China,en,0,"Adventure,History,War",nm0910951,\N,"['nm3611859', 'nm9445072', 'nm8594703', 'nm042...",3.8,14.0

In [13]:
df.to_csv("./data/data.csv")